<div class="register">
    <h1>Register Page</h1>

    <form action="/home/register" method="post">
        <div class="mb-3 row">
            <label for="username" class="col-sm-2 col-form-label">User Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="username"
                       name="UserName">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" name="Password">
            </div>
        </div>
        <button type="submit">Register</button>
    </form>

</div>
